{% extends 'base.html' %}


{% block title %}
   Города | {{ block.super }}
{% endblock %}


{% block content %}
    <h1>Города</h1>

    {% if cities %}
        <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Страна</th>
            </tr>
        </thead>
        <tbody>
            {% for city in cities %}
                <tr>
                    <td><a href="{% url 'city' pk=city.pk %}">{{ city.name }}</a></td>
                    <td>{{ city.country.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p class="text-muted">
            <i>Нету ни одного города.</i>
        </p>
    {% endif %}
{% endblock %}